html {
  color: rgba(158,158,158);
}

nav {
  background-color: #C71585;
}

nav .brand-logo {
  color: #fff;
}

nav a,
nav ul a {
  color: #fff;
}

footer.page-footer {
  background-color: #C71585;
}

h3{
    font-size: 1.9rem;
}

#index_slide{
    position: relative;
    padding: 0px;
}
#index_slide .slide-content
{
    padding-left:1.5rem;
    padding-right:1.5rem;
}
#index_slide img{
  max-height: 25em;
  width:100%;
}
.jumbotron .slide-button{
    position: absolute;
}
.side-nav li ul {
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 160px;
    display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
     background-color: #ee6e73;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
