html,
body {
    height: 100%;
}
li{
    list-style: none;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
body{
    font: 12px/1.5 Arial,Microsoft Yahei,Simsun;
    color: #333;
}

.step,
.step li em,
.step li{
    background:url(/install/images/step.png) repeat-x;
}

.step {
    border-bottom: 1px solid #dce1e5;
    height: 60px;
    background-color: #fff;
}

.step li.current {
    background-position: right -106px;
    background-repeat: no-repeat;
    color: #246ea5;
}
.step li {
    float: left;
    height: 60px;
    line-height: 60px;
    width: 33%;
    text-align: center;
    font-size: 14px;
    color: #6f7885;
    font-weight: 700;
}
.step li em{
    width:32px;
    height:32px;
    text-align:center;
    line-height:32px;
    display:inline-block;
    background-position:0 -70px;
    font-size:20px;
    color:#fff;
    font-family:Microsoft Yahei;
    margin-right:10px;
    vertical-align:0;

}
.step li.current em{
    background-position:-35px -70px;
}
.step li.on{
    background-position:0 -176px;
}
.step li.on em{
    background-position:-70px -70px;
}
.server {padding: 20px 20px 10px 65px;}

.correct_span, .error_span {
    display: block;
    float: left;
    width: 20px;
    height: 16px;
    text-indent: -2000em;
    overflow: hidden;
    background: url(/install/images/icon.png) no-repeat;
    margin-right: 5px;
}
.install-form{
    padding-top: 2em;
}
